## Set timezone
php_value date.timezone 'America/Los_Angeles'

## Change error redirect
ErrorDocument 401 https://w0rst.xyz/error?reason=Unauthorized
ErrorDocument 403 https://w0rst.xyz/error?reason=Forbidden
ErrorDocument 404 https://w0rst.xyz/error?reason=404%20Error

## Prevents all indexes
Options -Indexes

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php