#particles-js { background-image: url(""); background-size: cover; background-repeat: no-repeat; pointer-events: none; position: absolute; inset: 0px; z-index: 1; }

body {
    background-color: #161616;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto, sans-serif;
}

.logo {
    margin-top: 60px;
    padding: 15px;
    filter:brightness(0) invert(1);
    width:60%;
    min-width:30rem;
}

.top-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-content {
    margin-top:25%;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
    border-radius: 6px;
    width: 70%;
}

.header {
    font-size: 3.25rem;
    font-weight: 600;
    line-height: 0.5;
    color: #eceff1;
    -webkit-text-size-adjust: 100%;
}

.text {
    color: #979797;
    font-weight: 400;
    font-size:1.75rem;
}

.card {
    width: 40rem;
    height:fit-content;
    position:absolute;
    border-radius: 6px;
    top:0;bottom:0;
    right:0;left:0;
    margin: auto;
    background: #131313;
}

.label {
    color: white;
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
    font-size:15px;
    font-weight:600;
    font-variant: tabular-nums;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

.input {
    color: rgba(255,255,255,.3);
    background-color: #555;
    height:2.3rem;
    opacity: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: tnum;
    position: relative;
    display: inline-block;
    width:100%;
    min-width: 0;
    padding: 1px 11px;
    color: rgba(255,255,255,.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: transparent;
    background-image: none;
    border: 1px solid #434343;
    border-radius: 2px;
    text-overflow: ellipsis;
}

.input:focus { outline: none; }

.button-container {
    display: flex;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-right:2rem;
    padding-left:2rem;
    justify-content: center;
}

.button {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    border-radius: 5px;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    height: 40px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(255,255,255,.85);
    background: 0 0;
    border-color: #434343;
    outline: none;
}

.rounded {
    border-radius: 1rem;
    min-width:10rem;
    width: 20%;
}

.form-row {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(255,255,255,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: tnum;
    margin-bottom: 24px;
    vertical-align: top;
    width:70%;
    left:0;right:0;
    margin-left:auto;
    margin-right:auto;
}

.transparent {
    background-color: #1a1a1aab;
    border-radius:5px;
    border:none;
    opacity:0.55;
}

.hidden {
    background-color: rgba(0,0,0,.5);
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2b2b2b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #575757;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.hover:hover {
    -webkit-transform: scale(1.01);
    border-color: white;
}

.grecaptcha-badge { opacity:0; }