body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin: 5%;
    display: grid;
    place-items: center;
}

.img { 
    user-select: none;
    max-width: 100%;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-image: linear-gradient(to right bottom, #eb4034, #741594);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    text-decoration: none;
    text-align: center;
    border-radius: 24px;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    padding: 1rem;
    border: none;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.btn:focus { outline: none; } 

.btn.tab { 
    background-image: none;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    width: 280px;
    position: absolute;
    transform: translate(12%, 15%);
    opacity: 1;
}

.btn.tab:nth-child(2) { transform: translate(117.5%, 15%); opacity: 0.55; }

.login { 
    background-image: linear-gradient(to right, #eb4034d5, #741594c7);
    border-radius: 0.2rem;
    position: absolute;
    width: 550px;
    transform: translate(4.5%, 370%);
 }

.register { 
    background-image: linear-gradient(to right, #eb4034d5, #741594c7);
    border-radius: 0.2rem;
    position: absolute;
    right: 0;
    transform: translate(-10.5%, 334%); 
    width: 240px;
    height: 77px;
}

.content { 
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.card { 
    background-color: #1c1c1c;
    border-radius: 0.5rem;
    position: relative;
    display: block;
    width: 600px;
    height: 350px;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    z-index: 12;
}

.nav { 
    background-image: linear-gradient(to right bottom, #eb4034, #741594); 
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5); 
    border-radius: 0.8rem; 
    position: relative;
    right: 3.5%;
    width: 640px;
    height: 70px;
}

.frame { 
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem; 
    position: absolute;
    transform: translate(4.5%, 2%);
    width: 550px;
    height: 175px;
}

.login-tab { /* display: none; */ }
.register-tab { display: none; }

.input { 
    -webkit-text-security: none;
    text-align: center;
    color:white;
    background-color: rgb(30,30,30);
    height: 50px;
    width: 450px;
    border-radius: 5px;
    border-color: white;
    border: thin;
    padding: 15px;
    font-size: 20px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%, 60%);
}

.input:focus { outline:none; }
.input.email { transform: translate(0%, 60%); }
.input.user { transform: translate(0%, 60%); }
.input.pass { transform: translate(0%, 80%); -webkit-text-security: disc !important; }
.input.user:nth-child(2) { transform: translate(0%, 80%); }
.input.pass:nth-child(3) { transform: translate(0%, 100%); }

.recaptcha { 
    position: absolute;
    left: 0;
    transform: translate(8%, 330%);
}

.notification { 
    overflow: hidden;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(10, 10, 10, 0.3);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5); 
    border-radius: 0.4rem;
    font-size: 2rem;
    color: white;
    width: 400px;
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-top: -3%;
    margin-left: auto; 
    margin-right: auto; 
    user-select: none;
}

/* ripple effect */
span.circle {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.3);
}

@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
}