body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-family: Roboto, sans-serif;
}

.content { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image { 
    user-select: none;
    max-width: 100%;
    position: absolute;
    transform: translateY(-30%);
}

.button { 
    background-color: #a61d8c;
    position: absolute;
    transform: translateY(300%);
    text-decoration: none;
    text-align: center;
    border-radius: 24px;
    overflow: hidden;
    font-size: 16px;
    width: 180px;
    padding: 15px;
    color: white;
    border: none;
}

.button:focus { outline: 0; }

.transparent { 
    background-color: rgba(0,0,0, 0.05);
}

.nav { 
    width: 450px;
    height: 70px;
    background-image: linear-gradient(to right top, #003ba8, #6e1b87);
    position: absolute;
    transform: translate(5.25%, -50%);
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0,0,0, 0.10);
}

.nav-button { 
    position: absolute;
    transform: translate(10%, 35%);
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    font-size: 16px;
    width: 200px;
    height: 45px;
    padding: 15px;
    color: white;
    border: none;
}

.nav-button:focus { outline: none; }

.nav-button:nth-child(2) { 
    position: absolute;
    transform: translate(115.2%, 35%);
}

.post-button { 
    position: absolute;
    transform: translate(130%, 460%);
    background-color: #a61d8c;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    width: 140px;
    height: 45px;
    padding: 15px;
    color: white;
    border: none;
}

.post-button:nth-child(4) { 
    transform: translate(130%, 610%);
}

.post-button:focus { outline: none; }

.container { 
    background-color: rgba(0,0,0, 0.25);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.card { 
    background-color: rgb(25,25,25);
    border-radius: 5px;
    position: absolute;
    align-items: center;
    width: 500px;
    height: 280px;
}

.login-tab { visibility: hidden; }
.register-tab { visibility: hidden; }

.login-tab.active { visibility: visible; }
.register-tab.active { visibility: visible; }

.user-input {
    position: absolute;
    transform: translate(12%, 120%);
    text-align: center;
    color:white;
    background-color: rgb(30,30,30);
    height: 50px;
    width: 400px;
    border-radius: 5px;
    border-color: white;
    border: thin;
    padding: 15px;
    font-size: 25px;
}

.user-input:nth-child(2) { transform: translate(12%, 260%); }

.email-input {
    position: absolute;
    transform: translate(12%, 120%);
    text-align: center;
    color:white;
    background-color: rgb(30,30,30);
    height: 50px;
    width: 400px;
    border-radius: 5px;
    border-color: white;
    border: thin;
    padding: 15px;
    font-size: 25px;
}

.pass-input {
    -webkit-text-security: disc !important;
    position: absolute;
    transform: translate(12%, 260%);
    text-align: center;
    color:white;
    background-color: rgb(30,30,30);
    height: 50px;
    width: 400px;
    border-radius: 5px;
    border-color: white;
    border: thin;
    padding: 15px;
    font-size: 25px;
}

.pass-input:nth-child(3) { 
    transform: translate(12%, 400%);
}

.user-input:focus {
    outline: none; 
}
.email-input:focus {
    outline: none; 
}
.pass-input:focus { 
    outline: none; 
}

/* Click effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:active {
    background-color: #87238e;
    background-size: 100%;
    transition: background 0s;
}