body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-family: Roboto, sans-serif;
}

.tab-content { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image { 
    user-select: none;
    max-width: 100%;
    position: absolute;
    transform: translateY(-30%);
}

button { 
    background-color: #a61d8c;
    position: absolute;
    transform: translateY(300%);
    text-decoration: none;
    text-align: center;
    border-radius: 24px;
    overflow: hidden;
    font-size: 16px;
    width: 180px;
    padding: 15px;
    color: white;
    border: none;
}

button:focus { outline: 0; }

/* Click effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:active {
    background-color: #87238e;
    background-size: 100%;
    transition: background 0s;
}