html { 
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body { 
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #181818;
    overflow-y: auto;
}

.navbar-header { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    background-image: linear-gradient(to right bottom, #eb4034, #741594);
    -webkit-box-shadow: 0 5px 5px -3px rgb(0 0 0 / 15%);
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 15%);
    padding: 0 20px;
    overflow: hidden;
    z-index: 1;
}

.bottom-navbar {
    background-color: rgba(26,26,26,0.8);
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
    position: relative;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
}

.banner { 
    vertical-align: middle;
    border-style: none;
    width: 10rem;
}

.btn { 
    background-image: linear-gradient(to right bottom, #eb4034d5, #741594c7);
    width: 12rem;
    height: 4rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.5;
    border-style: none;
    cursor: pointer;
    text-align: center;
}

.btn:focus { outline: none; }

.transparent { 
    background-image: none;
    background-color: rgba(0,0,0,0);
    border-style: none;
}

.rounded-circle {
    border-radius: 50% !important;
}

.header-pfp { 
    background-color: rgba(255,255,255,.5);
    vertical-align: middle;
    position: relative;
    border-style: none;
    padding: 3px;
    margin-left: 0;
    width: 35px;
    right: 5px
}

.dropdown-settings {
    background-color: rgb(35,35,35);
    border-radius: 0.4rem;
    position: absolute;
    right: 0%;
    transform: translate(-1.1rem, 73%);
    width: 12rem;
    height: 14.8rem;
    display: none;
    z-index : 2;
}

.dropdown { 
    background-image: none; 
    background-color: purple;
    width: 11rem;
    height: 3rem;
    position: relative;
    display: inline-block;
    top: 10px;
    right: 0;
    left: 8px;
}

.middle-card {
    background-color: rgb(34,34,34);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    border: 5px solid rgb(34,34,34);
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top:7.5%;
    margin-bottom:auto;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    min-width: 45rem;
    height: 80%;
    overflow:auto;
}

.bar {
    background-image: none; 
    background-color: rgba(20,20,20,0.2);
    overflow: hidden;
    border-radius: 0.6rem;
    font-size: 1.1rem;
    width: 48%;
    height: 3.5rem;
    display: inline-block;
    position: relative;
    margin-right:auto;
    margin-left:auto;
}

.servers-card { 
    background-color: rgb(34,34,34);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    border: 5px solid rgb(34,34,34);
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top:8.5%;
    margin-bottom:auto;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    min-width: 45rem;
    height: 75%;
    overflow:auto;
}

.top-bar {
    background-color: rgba(21, 21, 21, 0);
    border-radius: 0.5rem;
    position:absolute;
    display: flex;
    left:0;right:0;
    align-items: center;
    margin-top:5;
    margin-right:auto;
    margin-left:auto;
    width: 95%;
    height: 4.5rem;
}

.script {
    background-image: none; 
    background-color: purple;
    overflow: hidden;
    border-radius: 0.6rem;
    font-size: 1.1rem;
    width: 10.5rem;
    height: 3rem;
    display: inline-block;
    position: relative;
    margin-right:auto;
    margin-left:auto;
}

.center { 
    border-radius: 0.5rem;
    width: 100%;
    height: 90%;
}

.public {  }
.private { display:none; }
.all { display:none;}

.server-select {
    background-color: rgb(40,40,40);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    left: 0;
    right: 0;
    margin-top: 2.5%;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 10rem;
}

.server-items { 
    margin-left:10px;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
}

.server-text { 
    display: table-row;
    position: relative;
    text-align: left;
    font-size: 12px;
}

.log-select {
    background-color: rgb(40,40,40);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    left: 0;
    right: 0;
    margin-top: 2.5%;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 12rem;
}

.log-header { 
    font-size: 20px;
    font-weight: 600;
    left:0; right:0; 
    top:0; bottom:0;
    margin:auto;
}

.log-items { 
    margin-left:10px;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
}

.log-text { 
    display: table-row;
    position: relative;
    text-align: left;
    font-size: 12px;
}

.log-pfp {
    background-color: rgba(255,255,255,.5);
    position:  absolute;
    border-style: none;
    padding: 3px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: auto;
    width: 7rem;
    right: 15px;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2b2b;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575757;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.member-count {
    position: relative;
    display: grid;
    font-size: 25px;
    text-align:center;
    margin-top: 1%;
    font-weight:600;
}

.member-select {
    background-color: rgb(40,40,40);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    left: 0;
    right: 0;
    margin-top: 2.5%;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    height: 10rem;
}

.member-name { 
    font-size: 55px;
    position: absolute;
    margin-top: 4%;
    margin-left: 5%;
    margin-bottom: auto;
}

.member-pfp {
    background-color: rgba(255,255,255,.5);
    vertical-align: middle;
    position: relative;
    border-style: none;
    padding: 3px;
    margin-top: 0.9rem;
    margin-left: 0;
    width: 8rem;
    left: 15px;
}

.settings-card {
    background-color: rgb(34,34,34);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem;
    width: 40rem;
    height: 22rem;
}

.settings-frame {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 550px;
    height: 275px;
}

.fade-background1, .fade-background2, .fade-background3 { 
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
    z-index:3;
}

.password-card { 
    background-color: rgb(34,34,34);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 15.5%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem;
    width: 40rem;
    height: 22rem;
}

.save { position: absolute; font-size: 20px; left: 0; right: 0; bottom: 15px; margin-right: auto; margin-left: auto; width: 40rem; }
.link { font-size: 16px; background-image: none; background-color: purple; position: absolute; bottom: 10px; left: 30px; width: 15rem; height: 3rem; }
.pass { font-size: 16px; background-image: none; background-color: purple; position: absolute; bottom: 10px; right: 30px; width: 15rem; height: 3rem; }
.admin-edit { background-image: none; background-color: purple; position: absolute; font-size: 20px; left: 0; right: 0;  top:0; margin-top: 84.3%; margin-right: auto; margin-left:auto; width: 50rem; }
.nav { 
    background-color: rgba(0,0,0,0);
    font-size: 16;
    text-decoration:none;
    font-weight: bold;
    background-image: none;
    position: relative;
    padding-left:10px;
    left: 5px;
    top: 10px;
    width: 7.5rem;
    height: 2.5rem; 
    color: rgba(255,255,255, 0.5); 
}

.nav:hover { color: rgba(255,255,255, 0.9); }

.input { 
    -webkit-text-security: none;
    text-align: center;
    color:white;
    background-color: rgb(30,30,30);
    height: 50px;
    width: 450px;
    border-radius: 5px;
    border-color: white;
    border: thin;
    padding: 15px;
    font-size: 20px;
    position: relative;
    display: block;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
}

.input:focus { outline: none; }

.profile-card { 
    background-color: rgb(34,34,34);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem;
    width: 50rem;
    height: 45rem;
}

.profile-pfp { 
    background-color: rgba(255,255,255,.5);
    vertical-align: middle;
    border-style: none;
    padding: 3px;
    width: 15rem;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.profile-name { 
    position: absolute;
    right: 0;
    left: 0;
    font-size: 45px;
    margin-top: 35%;
    text-align: center;
}

.profile-info { 
    background-color: rgba(38,38,38, 0.6);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
    border-radius: 0.4rem;
    width: 45rem;
    height: 15rem;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 45%;
    margin-left: auto;
    margin-right: auto;
}

.profile-header { 
    text-transform: uppercase !important;
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-top: 2.5%;
}

.profile-text { 
    position: relative;
    text-align: center;
}

.dropdown:nth-child(3) { margin-top: 60px; }

.info-header {text-align: center; font-size: 40px;}
.info-span {
    font-weight: 540;
    font-size: 22px;
    line-height: 1.3em;
    width: 85%;
    display:block;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    word-wrap: break-word;
    right: 0;
    left: 0;
    margin-top: -15px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.script-card, .info-card {
    top:0;left:0;right:0;bottom:0; 
    position:absolute;
    display:block;
    margin-top: 15%;
    margin-bottom:auto;
    margin-right: auto;
    margin-left: auto;
    width: 35rem;
    height: 20rem;
    background-color: rgb(34,34,34);
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
}

.info-card { width: 40rem; height: 25rem; } 

h1 { text-align: center; font-size: 40px; }
h2 { text-align: center; font-size: 25px;}
a { color: #fff; text-decoration: none; }