html { 
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body { 
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #161616;
    overflow-y: auto;
}

.background-image {
    position:relative;
    display:block;
    left:0;right:0;
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    width: 65%;
}

.nav-container {
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:2;
}

.navbar { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    background-color: #1d1d1d;
    -webkit-box-shadow: 0 5px 5px -3px rgb(0 0 0 / 15%);
    box-shadow: 0 3px 3px -3px rgb(0 0 0 / 15%);
    padding: 0 20px;
    z-index: 1;
}

.nav-tab {
    border-radius:3px;
    position:relative;
    display:row;
    right:0;left:0;
    margin-right:auto;
    height:3rem;
    cursor:pointer;
    overflow:hidden;
}

.nav-button {
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: rgba(0,0,0,0);
    height:100%;
    width:5.5rem;
    border:none;
    color:white;
    font-size:18px;
    text-align:center;
    right:0;
    left:0;
    top:0;
    bottom:0;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    transition: 250ms ease;
    margin-bottom:auto;
    cursor:pointer;
    opacity: 0.45;
    outline:none;
}

.nav-button:hover {
    opacity:1;
}

.banner {
    vertical-align: middle;
    border-style: none;
    width: 8.5rem;
}

.circle {
    border-radius: 50% !important;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2b2b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575757;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 { text-align: center; font-size: 40px; }
h2 { text-align: center; font-size: 25px;}
a { color: #fff; text-decoration: none; }

.page-content {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #131313;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    padding:10px;
}

.center-card {
    width: 40rem;
    height:fit-content;
    position:absolute;
    border-radius: 6px;
    top:0;bottom:0;
    right:0;left:0;
    margin: auto;
    background: #131313;
    
}

.card-title {
    font-size: 26px;
    margin-top: 14px;
}

.form-row {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(255,255,255,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: tnum;
    margin-bottom: 20px;
    vertical-align: top;
    width:70%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
    font-size:15px;
    font-weight:600;
    font-variant: tabular-nums;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

.input {
    color: rgba(255,255,255,.3);
    background-color: #555;
    height:2.3rem;
    opacity: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: tnum;
    position: relative;
    display: inline-block;
    width:100%;
    min-width: 0;
    padding: 1px 11px;
    color: rgba(255,255,255,.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: transparent;
    background-image: none;
    border: 1px solid #434343;
    border-radius: 2px;
    text-overflow: ellipsis;
    outline: none;
}

.disabled {
    cursor: not-allowed;
}

.button-container {
    display: flex;
    margin-top: 8px;
    padding-bottom: 20px;
    padding-right:2rem;
    padding-left:2rem;
    justify-content: center;
}

.button {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    border-radius: 5px;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    height: 40px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(255,255,255,.85);
    background: 0 0;
    border-color: #434343;
}

.button-drop {
    background-color:#2a2a2a;
    outline:none;
    border:none;
    width:auto;
    position:relative;
    display:flex;
    align-items:center;
    border-radius:3px;
    padding-left:10px;
    padding-right:10px;
    cursor: pointer;
    height:3rem;
}

.pfp {
    width: 2rem;
}

.name {
    color:white;
    font-size: 16px;
    padding: 5px;
    font-weight:450;
    font-variant: tabular-nums;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

.button:focus {
    outline: none;
}

.dropdown-holder {
    position: absolute;
    width:min-content;
    top:0;bottom:0;
    right:20px;
    margin-top:auto;
    margin-bottom:auto;
    padding-top:11px;
}

.dropdown {
    position: relative;
    background: #222;
    border-radius:3px;
    border: none;
    list-style: none;
    overflow: hidden;
    z-index:1;
    height: auto;
    display:none;
}

.dropdown-item {
    background-color: #232323;
    border-radius:2.5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:1rem;
    padding-left:1rem;
    display: block;
    text-align:center;
    right:0;left:0;
    top:0;bottom:0;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
     transition: 250ms ease;
    margin-bottom:auto;
    cursor:pointer;
}

.dropdown-item:hover {
    background-color: #3f3f3fd1;
}

.hidden1, .hidden2 {
    background-color: rgba(0,0,0,0.5);
    z-index:2;
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.member-card {
    background-color:#222;
    max-width: 30%;
    min-width:9rem;
    border-radius:5px;
    margin:auto;
    height:6.5rem;
    position: relative;
    width: 100%;
    padding:10px;
    margin-top:10px;
    align-items:center;
    overflow:hidden;
}

.member-pfp {
    background-color: #ffffff38;
    padding: 4px;
    vertical-align: middle;
    border-style: none;
    width:6rem;
    right:0;left:0;
    float:left;
}

.member-text {
    padding:5px;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:none;
    display: flex;
    font-size: 1.7em;
    color: #fff;
    display: block;/* Change it as per your requirement. */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.member-text:nth-child(3) {
    font-size: 1.2em;
    color: #a2a2a2bb;
}

.profile-pfp {
    background-color: #ffffff6e;
    border-style: none;
    padding: 5px;
    width:20rem;
    right:0;left:0;
    margin:auto;
}

.profile-header {
    position: relative;
    text-align:center;
    font-size:3rem;
}

.profile-box {
    background-color:#1a1a1a;
    border-radius:5px;
    display:block;
    margin:auto;
    width:auto;
    height:auto;
    padding-right:40px;
    padding-left:40px;
}

.profile-items {
    position:relative;
    margin-right:auto;
    margin-left:auto;
    padding:15px;
}

.profile-text {
    display: table-row;
    position: relative;
    font-size: 25px;
    position: relative;
    text-align: center;
}

.server-box {
    background-color:#1a1a1a;
    border-radius:5px;
    margin:auto;
    height:auto;
    margin-top:10px;
    padding:10px;
    padding-right:40px;
    padding-left:40px;
    min-width:max-content;
}

.server-items {
    float:left;
    width:auto;
    padding-right:20px;
}

.server-text {
    display:block;
    text-align: left;
    font-size: 14px;
    max-width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.server-pfp {
    background-color: #ffffff6e;
    padding: 3px;
    width:8rem;
    position:relative;
    top:0;bottom:0;
    margin: 0 auto;
}

.log-box {
    background-color:#1a1a1a;
    border-radius:5px;
    margin:auto;
    height:auto;
    width:60%;
    min-width:max-content;
    margin-top:10px;
    padding:10px;
    padding-right:40px;
    padding-left:40px;
}

.log-items {
    float:left;
    width:auto;
    padding-right:20px;
}

.log-text {
    display:block;
    text-align: left;
    font-size: 14px;
    max-width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.log-pfp {
    background-color: #ffffff6e;
    padding: 3px;
    width:10rem;
    position:relative;
    top:0;bottom:0;
    margin-top:auto;
    margin-bottom:auto;
    float:right;
}

/* effects */

.hover:hover {
    -webkit-transform: scale(1.01);
    border-color: white;
}