html { 
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body { 
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #161616;
    overflow-y: auto;
}

.background-image {
    position:relative;
    display:block;
    left:0;right:0;
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    width: 65%;
}

.navbar { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    background-color: #1d1d1d;
    -webkit-box-shadow: 0 5px 5px -3px rgb(0 0 0 / 15%);
    box-shadow: 0 3px 3px -3px rgb(0 0 0 / 15%);
    padding: 0 20px;
    z-index: 1;
}

.banner {
    vertical-align: middle;
    border-style: none;
    width: 8.5rem;
}

.circle {
    border-radius: 50% !important;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2b2b;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575757;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 { text-align: center; font-size: 40px; }
h2 { text-align: center; font-size: 25px;}
a { color: #fff; text-decoration: none; }

.page-content {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #131313;
}

.edit-card {
    width: 40rem;
    height:fit-content;
    position:absolute;
    border-radius: 6px;
    top:0;bottom:0;
    right:0;left:0;
    margin: auto;
    background: #131313;
}

.card-title {
    font-size: 26px;
    margin-top: 14px;
}

.form-row {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(255,255,255,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: tnum;
    margin-bottom: 24px;
    vertical-align: top;
    width:70%;
    left:0;right:0;
    margin-left:auto;
    margin-right:auto;
}

.label {
    padding: 0 0 8px;
    line-height: 1.5715;
    white-space: initial;
    text-align: left;
    font-size:15px;
    font-weight:600;
    font-variant: tabular-nums;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

.input {
    color: rgba(255,255,255,.3);
    background-color: #555;
    height:2.3rem;
    opacity: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: tnum;
    position: relative;
    display: inline-block;
    width:100%;
    min-width: 0;
    padding: 1px 11px;
    color: rgba(255,255,255,.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: transparent;
    background-image: none;
    border: 1px solid #434343;
    border-radius: 2px;
    text-overflow: ellipsis;
    outline: none;
}

.disabled {
    cursor: not-allowed;
}

.button-container {
    display: flex;
    margin-top: 8px;
    padding-bottom: 20px;
    padding-right:2rem;
    padding-left:2rem;
    justify-content: center;
}

.button {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    border-radius: 5px;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    height: 40px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(255,255,255,.85);
    background: 0 0;
    border-color: #434343;
}

.button-drop {
    background-color:#2a2a2a;
    outline:none;
    border:none;
    width:auto;
    position:relative;
    display:flex;
    align-items:center;
    border-radius:3px;
    padding-left:10px;
    padding-right:10px;
    cursor: pointer;
    height:3rem;
}

.pfp {
    width:2rem;
    padding:5px;
}

.name {
    color:white;
    font-size: 16px;
    padding: 5px;
    font-weight:450;
    font-variant: tabular-nums;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

.button:focus {
    outline: none;
}

.dropdown-holder {
    position: absolute;
    width:min-content;
    top:0;bottom:0;
    right:20px;
    margin-top:auto;
    margin-bottom:auto;
    padding-top:11px;
}

.dropdown {
    position: relative;
    background: #222;
    border-radius:3px;
    border: none;
    list-style: none;
    overflow: hidden;
    z-index:0;
    height: auto;
    display:none;
}

.dropdown-item {
    background-color: #232323;
    border-radius:2.5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:1rem;
    padding-left:1rem;
    display: block;
    text-align:center;
    right:0;left:0;
    top:0;bottom:0;
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    cursor:pointer;
}

.dropdown-item:hover {
    background-color: #525252d1;
}

.hidden {
    position:absolute;
    right:0;
    left:0;
    top:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    z-index:2;
    display:none;
}

/* effects */

.hover:hover {
    -webkit-transform: scale(1.01);
    border-color: white;
}